.header {
    position: fixed;
    top: 0;
    left: 250px;
    background-color: white;
    width: calc(100% - 250px);
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 95px;
    overflow: hidden;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow */
    border: 1px solid rgba(139, 139, 139, 0.5); /* Lighter border color */
}
h1{
    color: #B1B1B1;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}
.access{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 20px;
}
