.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #242F40;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}



.content {
    margin-left: 200px;
    padding: 20px;
}

button{
    width: 250px;
    padding: 30px;
    background-color: #242F40;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    font-size: 18px;
}
.logo{
    color: #FF8A00;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    margin-bottom: 70px;
    border-bottom: 1px solid #FFFFFF;
}

button:hover {
    background-color: #202938;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.nav-link:hover {
    color: #202938;
}
